.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    width: 18px;
    height: 12px;
}

.wrapper .line {
    transition: all 0.15s ease;
    background: #000000;
    border-radius: 0.125rem;
    position: relative;
    display: block;
    height: 2px;
}

.dark .line {
    background: #FFFFFF;
}

.wrapper .line:not(:last-child) {
    margin-bottom: 3px;
}

.opend .left .line:first-child,
.opend .left .line:last-child {
    left: -3px;
    transform: scaleX(0.6);
}

.opend .right .line:first-child,
.opend .right .line:last-child {
    width: 13px;
    transform: translateX(5px);
}